<!doctype html>
<html ng-app="gliderDemo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Glider Demo by Valve</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="javascripts/glider.js"></script>
    <script src="javascripts/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body ng-controller="gliderController">
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/Valve/glider">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/Valve/glider/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/Valve/glider/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Glider</h1>
          <p>Angularjs slider</p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/Valve">Valve</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        <h3>
        <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Glider Demo<h3>
          <h4>Your age:</h4>
          <slider min="21" max="90" value="age"></slider>
          <input ng-model="age" maxlength="2"/>
          <br/>
          <br/>

          <h4>Your weight:</h4>
          <slider min="40" max="140" value="weight"></slider>
          <input ng-model="weight" maxlength="3"/>
          <br/>
          <br/>

          <hr/>
          <h4>Dynamic min & max</h4>
          Select min ({{ dynamic_min }}):
          <slider min="0" max="100" value="dynamic_min"></slider><br/><br/>
          Select max ({{ dynamic_max }}):
          <slider min="0" max="100" value="dynamic_max"></slider><br/><br/>

          <h4>Slider with min & max dynamically defined above with two sliders</h4>
          <slider min="dynamic_min" max="dynamic_max" value="dynamic_value"></slider>
          <input ng-model="dynamic_value"/>
          <br/>
          <br/>

          <hr/>
          <h4>Deferred value update</h4>
          <slider defer_update min="21" max="90" value="deferred_age"></slider>
          <input ng-model="deferred_age" maxlength="2"/>
          <br/>
          <br/>
          <hr/>
          <h4>Increments</h4>
          <slider  style="width: 700px" min="0" max="1000" value="inc_val" increments="100, 200, 700, 900"></slider>
          <br/>
          <br/>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
